@model dynamic
<div class="well logreg lostpassword">
    <h3>@Html.TitleForPage(T("Change Password").ToString())</h3>
    <p>@T("Use the form below to change your password.")</p>
    <p>@T("New passwords are required to be a minimum of {0} characters in length.", ViewData["PasswordLength"])</p>
    <hr />
    @using (Html.BeginFormAntiForgeryPost(Url.Action("LostPassword"), FormMethod.Post, new { @class = "form-horizontal" })) {
        <!-- New Password -->
        <div class="control-group">
            <label class="control-label" for="newPassword">@T("New Password")</label>
            <div class="controls">
                @Html.Password("newPassword", string.Empty, new { @class = "input-large" })
                @Html.ValidationMessage("newPassword")
            </div>
        </div>
        <!-- Confirm Password -->
        <div class="control-group">
            <label class="control-label" for="confirmPassword">@T("Confirm Password")</label>
            <div class="controls">
                @Html.Password("confirmPassword", string.Empty, new { @class = "input-large" })
                @Html.ValidationMessage("confirmPassword")
            </div>
        </div>
        <!-- Buttons -->
        <div class="form-actions">
            <!-- Buttons -->
            <button type="submit" class="btn">@T("Change Password")</button>
        </div>
    }
</div>
