<div class="well logreg lostpassword">
    <h3>@Html.TitleForPage(T("Lost Password").ToString())</h3>
    <p>@T("Please enter your username or email address. You will receive a link to create a new password via email.")</p>
    <hr />
    @using (Html.BeginFormAntiForgeryPost(Url.Action("RequestLostPassword"), FormMethod.Post, new { @class = "form-horizontal" })) {
        <!-- Username -->
        <div class="control-group">
            <label class="control-label" for="username">@T("Username or E-mail")</label>
            <div class="controls">
                @Html.TextBox("username", string.Empty, new { @class = "input-large" })
                @Html.ValidationMessage("username")
            </div>
        </div>
        <!-- Buttons -->
        <div class="form-actions">
            <!-- Buttons -->
            <button type="submit" class="btn">@T("Send Request")</button>
        </div>
    }
</div>
